.popup__close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    width: rem(16);
    height: rem(16);
    @media (max-width: 1250px) {
        margin-top: 25px;
        margin-right: 25px;
    }
    &::before,
    &::after {
        content: "";

        left: 0;
        position: absolute;
        width: 100%;
        height: rem(1);
        background-color: #fff;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }

    &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
    }
    &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
    }
}

.form-popup-popup__form{
    background: #F6F6F6;
}
.form-popup {
    padding: rem(56) rem(123);
    @media (max-width: 1250px) {
        padding: rem(32) rem(51);
    }
    @media (max-width: 768px) {
        padding: rem(32) rem(40);
    }
    @media (max-width: 500px) {
        padding: rem(0) rem(0);
    }
    &__first-block {
        background: #FFFFFF;
        white-space: nowrap;
        padding: rem(44) rem(70);
        @media (max-width: 1250px) {
            padding: rem(44) rem(52);
        }
        @media (max-width: 768px) {
            padding: rem(44) rem(56);
        }
        @media (max-width: 600px) {
            padding: rem(40) rem(25);
        }
    }
    &__second-block {
        margin-top: 5px;
        background: #FFFFFF;
        padding: rem(44) rem(56) rem(54) rem(70);
        @media (max-width: 1250px) {
            padding: rem(44) rem(52);
        }
        @media (max-width: 768px) {
            padding: rem(44) rem(56);
        }
        @media (max-width: 600px) {
            padding: rem(40) rem(25);
        }
    }
    &__title {
        &::before {
            content: "Calculate the cost of work";
            @media (max-width: 1024px) {
                content: "Make request";
            }
        }
        font-weight: 700;
        font-size: 22px;
        line-height: math.div(21, 22);
        text-align: center;
    }
    &__list {
        margin-top: rem(38);
        display: grid;
        grid-template:
            "element element"
            "element element"
            "element element"
            "textarea textarea";
        row-gap: rem(38);
        column-gap: rem(36);
        @media (max-width: 1024px) {
            grid-template:
                "element"
                "element"
                "element"
                "element"
                "element"
                "element"
                "textarea";
        }
        .form-popup__item {
            position: relative;
            align-items: center;
            gap: rem(10);
            font-weight: 600;
            font-size: 11px;
            line-height: math.div(11, 11);
        }
        .form-popup__item-textarea {
            grid-area: textarea;
            align-items: flex-start;
            textarea {
                width: 100%;
                resize: none;
            }
        }
        .form-popup__absolute {
            position: absolute;
            pointer-events: none;
            left: 15px;
            right: 15px;
            top: 0;
            white-space: nowrap;
            overflow: hidden;
            line-height: 40px;
            transition: 0.3s;
            z-index: 5;
        }
        .form-popup__input-text {
            position: relative;
            background: #FFFFFF;
            border-bottom: 1px solid rgba(214, 214, 214, 0.3);
            margin-top: 10px;
            width: 100%;
            height: 20px;
            
        }
    }
    input:focus{
        outline: none;
    }
    textarea:focus{
        outline: none;
    }
    .form-popup__input-text:focus ~ .form-popup__absolute {
                top: -15px;
                font-size: 10px;
            }
    .area-popup {
        .form-popup__name-input {
            font-weight: 600;
            font-size: 11px;
            line-height: math.div(11, 11);
        }
        &__radio {
            margin-top: rem(24);
            display: grid;
            justify-content: space-between;
            grid-template: "element element element element element element element element";
            row-gap: 31px;
            @media (max-width: 850px) {
                grid-template:
                    "element element element element"
                    "element element element element";
            }
            .button-radio {
                width: fit-content;
                text-align: center;
                position: relative;
                padding-bottom: 25px;
                cursor: pointer;
                font-size: 9px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
                .checkmark {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    height: 20px;
                    width: 20px;
                    transform: translate(-50%, 0);
                    background: none;
                    border-radius: 50%;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #afb0b2;
                        border-radius: 50%;
                        width: 4px;
                        height: 4px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        :after {
                            top: 50%;
                            left: 50%;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: white;
                        }
                    }
                }
                &:hover input ~ .checkmark {
                    background-color: #ccc;
                    &::before {
                        background-color: #ccc;
                    }
                }

                input:checked ~ .button-radio {
                    color: red;
                }

                input:checked ~ .checkmark:after {
                    display: block;
                }

                input:checked ~ .checkmark {
                    background-color: #1d1f26;
                    &::before {
                        background: white;
                    }
                    &::after {
                    }
                }
            }
        }
    }

    .form-popup__last-block {
        background: #FFFFFF;
        padding: rem(0) rem(70) rem(37) rem(70);
        @media (max-width: 1250px) {
            padding: rem(0) rem(52) rem(44) rem(52);
        }
        .form-popup__form-send {
            display: flex;
            justify-content: space-between;
            @media (max-width: 1024px) {
                justify-content: center;
            }
            .add-file {
                position: relative;
                display: flex;
                gap: rem(12);
                align-items: center;
                @media (max-width: 1024px) {
                    display: none;
                }
                #upload-file {
                    max-width: 0;
                }
                #upload-btn {
                    width: 39px;
                    height: 39px;
                    border-radius: 50%;
                    border: 1px dashed rgba(58, 62, 75, 0.08);
                }
                #upload-btn {
                    font-size: 25px;
                }
                &__text {
                    .add-file__title {
                        margin-bottom: 3px;
                        font-weight: 600;
                        font-size: 11px;
                        line-height: 13px;
                    }
                    .add-file__description {
                        font-weight: 500;
                        font-size: 9px;
                        line-height: 11px;
                        color: rgba(58, 62, 75, 0.45);
                    }
                }
            }
            .form-popup__button {
                background-color: #3a3e4b;
                color: #fff;
                word-wrap: nowrap;
            }
        }
        .form-popup__description {
            margin-top: rem(37);
            font-family: "Roboto";
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
            color: #afb0b2;
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }
}
